<launch>

  <env name="GAZEBO_MODEL_PATH" value="$(find fetch_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" /> -->

  <!-- <include file="$(find fetch_navigation)/launch/fetch_nav.launch" >
    <arg name="map_file" value="/home/medo/map_2.yaml" />
  </include> -->

  <arg name="map_file" value="/home/medo/new_map.yaml" />
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <arg name="robot" default="fetch"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>

  <!-- Start Gazebo with a blank world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(find fetch_gazebo)/worlds/FullyStocked.sdf"/>
  </include>

  

  <!-- Oh, you wanted a robot? -->
 <include file="$(find fetch_gazebo)/launch/include/$(arg robot).launch.xml" />

 <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>


</launch>

<!--  
<launch>

  <include file="$(find fetch_navigation)/launch/fetch_nav.launch" >
    <arg name="map_file" value="/home/medo/map_2.yaml" />
  </include>

</launch> -->

